<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars</title>
    <link rel="stylesheet" href="/spaceObject.css">
</head>
<body>
    <h1>Mars</h1><br><br>

    <%- include('partials/nav-bar.ejs')%>
    <br><br>
    <img src="/images/mars.webp" alt="mars" width="25%" length="25%">
    <p id="info"><b>Distance From Sun: </b> <%=mars.distanceFromSun%>
        <br><b>Year Length: </b> <%=mars.yearLength%>
        <br><b>Radius: </b> <%=mars.radius%>
        <br><b>One Earth Day: </b> <%=mars.oneEarthDay%>
        <br><b>Moons: </b> <%=mars.moons%>
        <br><b>Description: </b><%=mars.description%>
        </p>

    <%- include('partials/footer.ejs')%>

</body>
</html>