<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercury</title>
    <link rel="stylesheet" href="/spaceObject.css">
</head>
<body>
    <h1>Mercury</h1><br><br>

    <%- include('partials/nav-bar.ejs')%>
    <br><br>
    <img src="<%=mercury.image%>" alt="mercury" width="50%" height="50%">
    <p id="info"><b>Distance From Sun: </b> <%=mercury.distanceFromSun%>
    <br><b>Year Length: </b> <%=mercury.yearLength%>
    <br><b>Radius: </b> <%=mercury.radius%>
    <br><b>One Earth Day: </b> <%=mercury.oneEarthDay%>
    <br><b>Moons: </b> <%=mercury.moons%>
    <br><b>Description: </b><%=mercury.description%>
    </p>

    <%- include('partials/footer.ejs')%>

    
</body>
</html>